
<div class="header">
	<%= image_tag("homepage.jpg") %>
	<div class="header-caption">
		<h1>LaughTracker</h1>
		<h2 class="cap-1">Track of your jokes.</h2><h2 class="cap-2">Get  more laughs.</h2>
	</div>
	<div class="header-buttons">
		<h2 class="button-1"><%= link_to "Jokes", "/jokes" %></h2>
	</div>
</div>
