
<div class="header">
	<%= image_tag("homepage.jpg") %>
	<div class="header-caption">
		<h1 class="cap-2">Laugh</h1><h1 class="cap-1">Tracker</h1><br>
		<h2 class="cap-1">Track of your jokes.</h2><h2 class="cap-2">Get  more laughs.</h2>
	</div>
	<div class="container">
		<% if current_user %>
		<% else %>
		<div class="index-buttons">
			<div class="row col-lg-3"><%= link_to "LOGIN", "login", class: "btn btn-send" %>
			</div>
			<div class="row col-lg-3">
			<%= link_to "SIGN UP", "signup", class: "btn btn-cta" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="container features">
		<div class="feature feature_1 col-sm-4 col-md-4 col-lg-4">
			<h1><span class="glyphicon glyphicon-pencil"></span></h1>
			<p>Write, edit, and save your jokes.</p>
		</div>
		<div class="feature feature_2 col-sm-4 col-md-4 col-lg-4">
			<h1><span class="glyphicon glyphicon-tag"></span></h1>
			<p>Tag jokes and easily search for them by subject.</p>
		</div>
		<div class="feature feature_3 col-sm-4 col-md-4 col-lg-4">
			<h1><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></h1>
			<p>Rate your jokes and track their success over time.</p>
		</div>
</div>
<div class="container endorsements">
		<div class="endorsement endorsement_1 col-sm-4 col-md-4 col-lg-4">
			<div class="photo">
				<img src="http://img.timeinc.net/time/2011/time_100_walkup/louis_ck.jpg" class="img-responsive">
			</div>
			<h1>Louis C.K.</h1>
			<p>"No comedian should be without LaughTracker."</p>
		</div>
		<div class="endorsement endorsement_2 col-sm-4 col-md-4 col-lg-4">
			<div class="photo">
				<img src="http://p.fod4.com/p/channels/zzbuf/profile/s=w1200/o=95/Kvz7cZVTTRWXBNLIRowA_aziz_ansari.jpg" class="img-responsive">
			</div>
			<h1>Aziz Ansari</h1>
			<p>"It's never been easier to improve my jokes."</p>
		</div>
		<div class="endorsement endorsement_3 col-sm-4 col-md-4 col-lg-4">
			<div class="photo">
				<img src="http://www.famousbirthdays.com/headshots/sarah-silverman-1.jpg" class="img-responsive">
			</div>
			<h1>Sarah Silverman</h1>
			<p>"I used to have a million notebooks for my jokes.  Now I just have one app."</p>
		</div>
</div>
