
<div class="header">
	<%= image_tag("homepage.jpg") %>
	<div class="header-caption">
		<h1 class="cap-2">Laugh</h1><h1 class="cap-1">Tracker</h1><br>
		<h2 class="cap-1">Track of your jokes.</h2><h2 class="cap-2">Get  more laughs.</h2>
	</div>
	<div class="container">
		<% if current_user %>
		<% else %>
		<div class="index-buttons">
			<div class="row col-lg-3"><%= link_to "LOGIN", "login", class: "btn btn-send" %>
			</div>
			<div class="row col-lg-3">
			<%= link_to "SIGN UP", "signup", class: "btn btn-cta" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="features">
		<div class="feature 1 col-sm-4 col-md-4 col-lg-4">
			<h2>Write</h2>
			<p>write, edit, and save your jokes.</p>
		</div>
		<div class="feature 2 col-sm-4 col-md-4 col-lg-4">
			<h2>Tag</h2>
			<p>Tag jokes and search for them by subject.</p>
		</div>
		<div class="feature 3 col-sm-4 col-md-4 col-lg-4">
			<h2>Rate</h2>
			<p>Rate your jokes and track their success over time.</p>
		</div>
</div>