
<div class="header">
	<%= image_tag("homepage.jpg") %>
	<div class="header-caption">
		<h1 class="cap-2">Laugh</h1><h1 class="cap-1">Tracker</h1><br>
		<h2 class="cap-1">Track of your jokes.</h2><h2 class="cap-2">Get  more laughs.</h2>
	</div>
	<div class="container">
		<% if current_user %>
		<% else %>
		<div class="index-buttons">
			<div class="row col-lg-3"><%= link_to "LOGIN", "login", class: "btn btn-send" %>
			</div>
			<div class="row col-lg-3">
			<%= link_to "SIGN UP", "signup", class: "btn btn-cta" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="features">
		<div class="feature feature_1 col-sm-4 col-md-4 col-lg-4">
			<h1><span class="glyphicon glyphicon-pencil"></span></h1>
			<p>Write, edit, and save your jokes.</p>
		</div>
		<div class="feature feature_2 col-sm-4 col-md-4 col-lg-4">
			<h1><span class="glyphicon glyphicon-tag"></span></h1>
			<p>Tag jokes and easily search for them by subject.</p>
		</div>
		<div class="feature feature_3 col-sm-4 col-md-4 col-lg-4">
			<h1><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></h1>
			<p>Rate your jokes and track their success over time.</p>
		</div>
</div>