<div class="main tag-index">
	<div class="container">
		<h1>My Tags</h1>
		<div class="new_tag">
			<%= link_to "New Tag", new_tag_path %>
		</div>
		<div class="row">
			<% @tags.each do |t| %>
			<div class="tags col-lg-2">
				<h3><a href='<%= tag_path(t) %>'><%= t.title %></a></h3>
			</div>
			<% end %>
		</div>
	</div>
</div>