<div class="main tag-show">
	<div class="container">
		<div class="tag">
			<h1><%= @tag.title %></h1>
		</div>
		<div class="tag-jokes">
			<h2>Jokes</h2>
			<% @jokes.each do |j| %>
			<div class="joke-title">
			<p><a href='<%= joke_path(j) %>'><%= j.title %></a></p>
			<!--<%= link_to "See Joke", joke_path(j) %>-->
			</div>
			<% end %>
		</div>
	</div>
</div>
