// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	height: 959px;
}
.header-caption {
	z-index: 1;
	margin-top: -480px;
	margin-left: 120px;
	margin-bottom: 0px;
}

.index-buttons {
	margin-top: 130px;
	margin-left: 10px;
}

.index-buttons.btn {
	font-size: 18px;
}

.cap-1 {
	margin-top: 0px;
	color: #FFFFFF;
	font-size: 4em;
	display: inline-block;
}

.cap-2 {
	color: #FFFFFF;
	font-size: 4em;
	display: inline-block;
	margin-left: 10px;
}

h1.cap-2 {
	font-size: 110px;
	color: #FFE708;
}

h1.cap-1 {
	font-size: 110px;
	color: #232323;
}

.jokes {
	border: 1px black solid;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.tags {
	border: 1px black solid;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.main .container h1 {
	color: black;
}

.jokes h3 {
	display: inline-block;
	margin-right: 20px;
}

.jokes small {
	text-align: right;
}

.joke-title {
	border: 1px black solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-buttons {
	margin-left: 100px;
}

.button-1 {
	display: inline-block;
	margin-right: 20px;
}

.button-2 {
	display: inline-block;
	margin-right: 20px;
}
