// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-caption {
	z-index: 1;
	margin-top: -687px;
	margin-left: 100px;
}

.cap-1 {
	margin-top: 100px;
	color: #000000;
	font-size: 2.5em;
	display: inline-block;
}

.cap-2 {
	color: #FFE708;
	font-size:2.5em;
	display: inline-block;
	margin-left: 10px;
}

h1 {
	font-size: 100px;
	color: #FFE708;
}

.jokes {
	border: 1px black solid;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.main .container h1 {
	color: black;
}

.jokes h3 {
	display: inline-block;
	margin-right: 20px;
}

.jokes small {
	text-align: right;
}
